<div class='main-nav'>
	<div class='navbar navbar-inverse'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Navegação</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' [routerLink]="['/home']">Cadastro de Cliente</a>
		</div>
		<div class='clearfix'></div>
		<div class='navbar-collapse collapse'>
			<ul class='nav navbar-nav'>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/home']">
						<span class='glyphicon glyphicon-home'></span> Inicio
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/busca-cliente']">
						<span class='glyphicon glyphicon-th-list'></span> Buscar Cliente
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
